.match-card {
  /* Styles for tick and cross buttons container */
  display: flex;
  justify-content: flex-end; /* Position at the bottom right */
  align-items: flex-end;
  height: 100%;
}

.round-button {
  border-radius: 50%; /* Make the buttons round */
  margin-left: 5px; /* Add some margin for spacing */
}

